1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
-     **        --> Expressions
       'hello'  --> Value
       -87.8    --> Value
       -        --> Expressions
       /        --> Expressions
       +	      --> Expressions
       6        --> Value

2. What is the difference between string and variable?

* String : Strings are used to store a text/character data type Strings always start and end with quotes.
* Variable : variable are used to store any data like characters,integer etc...

    Eg: Name = "deepika"
        here,
            Name is a variable
            deepika is a String

3. Describe three different data types.

In [ ]:
  # 1. Integers :  Stores only numberic value and it must be integer
  a = 3
  print(type(a)) 

  # 2. Float :  Strores numeric values but containing decimal number.
  b = 2.5
  print(type(b))

  # 3. strings : Strings are used to store a text/character data type Strings always start and end with quotes.
  c = "deepika"
  print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

4. What is an expression made up of? What do all expressions do?

Combinations of values and operators is called as expression that combines and produce single value like adds two values divides multiples etc.,

|Operation|Meaning|
|--|--|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


2+4  #Addition
4-1  #Substraction
5*7  #Multiplication
4/2  #Division
4%2  #Remainder/modulo opeartor

In [ ]:
A = 2+4 #Addition
print(A)  
B=4-1  #Substraction
print(B)  
C=5*7 #Multiplication
print(C)  
D=4/2  #Division
print(D)
E=7%2 #Remainder/modulo opeartor
print(E)

6
3
35
2.0
1

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: expression evaluates to a single value. A statement does not.

6. After running the following code, what does the variable bacon contain?

In [ ]:
bacon = 22

In [ ]:
bacon + 1  #Ans : Initially we assign integer(22) to variable(bacon) and now we add 1 to bacon I.e 23 integer value and the value 
#of bacon is 22

23

7. What should the values of the following two terms be?

Ans: Both the operation evalutes to string in firststring we use '+' to concatenate and in second line string we use * to mulitiply string both outputs will be same but we different expressions

In [ ]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans: Variable names cannot begin with a number so eggs is valid and 100 is invalid.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans: The int(), float(), and str() functions use to the integer, floating-point and string versions of the value passed to them.

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans: The expression causes an error because 99 is an integer, and only strings can concatenated to other strings with the + operator. The correct way is 'I have eaten' + "99" + ' burritos.'

In [ ]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [ ]:
'I have eaten' + "99" + ' burritos.'

'I have eaten99 burritos.'