Question1. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

In [5]:
def evenly_divisible(a, b, c):
    total = 0
    for num in range(a, b+1):
        if num % c == 0:
            total += num
    return total

In [6]:
print(evenly_divisible(1, 10, 20)) 
print(evenly_divisible(1, 10, 2)) 
print(evenly_divisible(1, 10, 3))

0
30
18

Question2. Create a function that returns True if a given inequality expression is correct and False otherwise.
Examples
correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [14]:
def correct_signs(expression):
    parts = expression.split()
    for i in range(1, len(parts), 2):
        operator = parts[i]
        num1 = int(parts[i-1])
        num2 = int(parts[i+1])
        if operator == "<" and not num1 < num2:
            return False
        elif operator == ">" and not num1 > num2:
            return False
    return True

In [15]:
print(correct_signs("3 < 7 < 11"))  
print(correct_signs("13 > 44 > 33 > 1"))  
print(correct_signs("1 < 2 < 6 < 9 > 3"))

True
False
True

Question3. Create a function that replaces all the vowels in a string with a specified character.
Examples
replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

In [25]:
def replace_vowels(string, replacement):
    vowels = "aeiouAEIOU"
    result = ""
    for char in string:
        if char in vowels:
            result += replacement
        else:
            result += char
    return result

In [26]:
print(replace_vowels("the aardvark", "#"))  
print(replace_vowels("minnie mouse", "?")) 
print(replace_vowels("shakespeare", "*"))

th# ##rdv#rk
m?nn?? m??s?
sh*k*sp**r*

Question4. Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [30]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [31]:
print(factorial(5))  
print(factorial(3))

120
6


Question 5
Hamming distance is the number of characters that differ between two strings.
To illustrate:
String1: "abcbba"
String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.
Create a function that computes the hamming distance between two strings.
Examples
hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

In [41]:
def hamming_distance(str1, str2):
    distance = 0
    for char1, char2 in zip(str1, str2):
        if char1 != char2:
            distance += 1
    return distance

In [42]:
print(hamming_distance("abcde", "bcdef"))  
print(hamming_distance("abcde", "abcde"))  
print(hamming_distance("strong", "strung"))

5
0
1