Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [4]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

In [5]:
print(is_symmetrical(7227))  
print(is_symmetrical(12567))

True
False

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20a

In [7]:
def multiply_nums(nums_str):
    nums = [int(num) for num in nums_str.split(", ")]
    product = 1
    for num in nums:
        product *= num
    return product

In [8]:
print(multiply_nums("2, 3"))  # Output: 6
print(multiply_nums("1, 2, 3, 4"))

6
24

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [9]:
def square_digits(num):
    squared_digits = [str(int(digit) ** 2) for digit in str(num)]
    squared_num = int("".join(squared_digits))
    return squared_num

In [10]:
print(square_digits(9119))

811181

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [13]:
def setify(lst):
    return sorted(list(set(lst)))

In [14]:
print(setify([3, 3, 3, 2, 1]))

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [15]:
def mean(num):
    digits = str(num)
    digit_sum = sum(int(digit) for digit in digits)
    digit_count = len(digits)
    return digit_sum // digit_count

In [16]:
print(mean(42))

3