1.	Write a Python program to find sum of elements in list?

In [25]:
total = 0
list1 = [11, 5, 17, 18, 23]
for ele in range(0, len(list1)):
  total = total + list1[ele]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

2.	Write a Python program to  Multiply all numbers in the list?

In [26]:
def multiply_numbers(list):
    result = 1
    for num in list:
        result *= num
    return result

In [27]:
numbers = [1, 2, 3, 4, 5]
product = multiply_numbers(numbers)
print("The product of all numbers in the list is:", product)

The product of all numbers in the list is: 120

3.	Write a Python program to find smallest number in a list?

In [28]:
number=[7,4,5,2,9]
smallest=number[0]
for num in number:
    if num < smallest:
        smallest = num
print("The smallest number in the list is:", smallest)

The smallest number in the list is: 2

4.	Write a Python program to find largest number in a list?

In [29]:
number=[7,4,5,2,9]
largest=number[0]
for num in number:
    if num > largest:
        largest = num
print("The largest number in the list is:", largest)

The largest number in the list is: 9

5.	Write a Python program to find second largest number in a list?

In [30]:
number = [7,4,5,2,9]
largest = number[0]
second_largest = number[0]

for num in number:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num != largest:
        second_largest = num
print("The second largest number in the list is:", second_largest)

The second largest number in the list is: 7

6.	Write a Python program to find N largest elements from a list?

In [31]:
numbers = [11,45,23,67,82,11]
N = 4
if N > len(numbers):
    print("Invalid input: N is greater than the list size.")
else:
    sorted_list = sorted(numbers, reverse=True)
    n_largest_elements = sorted_list[:N]
    print("The", N, "largest elements in the list are:", n_largest_elements)

The 4 largest elements in the list are: [82, 67, 45, 23]

7.	Write a Python program to print even numbers in a list?

In [32]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Even numbers in the list:")
for num in numbers:
    if num % 2 == 0:
        print(num)

Even numbers in the list:
2
4
6
8
10

8.	Write a Python program to print odd numbers in a List?

In [33]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Odd numbers in the list:")
for num in numbers:
    if num % 2 != 0:
        print(num)

Odd numbers in the list:
1
3
5
7
9

9.	Write a Python program to Remove empty List from List?

In [34]:
my_list = [1, 2, [], 3, [], [4, 5], 6, [], [7, 8, 9], []]
updated_list = []
for sublist in my_list:
    if sublist:
        updated_list.append(sublist)
print("List after removing empty lists:", updated_list)

List after removing empty lists: [1, 2, 3, [4, 5], 6, [7, 8, 9]]

10.	Write a Python program to Cloning or Copying a list?

In [35]:
original_list = [1, 2, 3, 4, 5]
cloned_list = []
for item in original_list:
    cloned_list.append(item)
print("Original list:", original_list)
print("Cloned list:", cloned_list)

Original list: [1, 2, 3, 4, 5]
Cloned list: [1, 2, 3, 4, 5]

11.	Write a Python program to Count occurrences of an element in a list?

In [36]:
my_list = [1, 2, 3, 4, 2, 2, 5, 6, 2]
element_to_count = 2
count = 0
for item in my_list:
    if item == element_to_count:
        count += 1
print("Number of occurrences of", element_to_count, "in the list:", count)

Number of occurrences of 2 in the list: 4